/* common style.css file with additional tweeks */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto";
  list-style: none;
  box-sizing: border-box;
  background: #000;
  cursor: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

/* body {
  background-color: #111;
  background-image: radial-gradient(#333, #111);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  width: 100vw;
  font-weight: 700;
  font-family: 'Montserrat', sans-serfmidif;
} */

.cursor {
  width: 3rem;
  height: 3rem;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  z-index: 9999;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: grayScale();
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.cursor-grow {
  transform: scale(2);
  background: white;
}

.cursor-color-change {
  border-color: black !important;
  transform: scale(1.5);
  background-color: black;
}

#sectionthree {
  text-align: center;
  height: 100vh;
  overflow: visible;
}

.big-font {
  font-size: 700vm;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.big-font h3 {
  font-family: 'Sedgwick Ave', cursive;
  z-index: 999;
  font-size: 12em;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  vertical-align: middle;
}

.font-size-inc {
  z-index: 9999;
  top: 50%;
  overflow: visible;
  transform: scale(2.0);
  color: white !important;
  transition: all 0.3s ease;
  transition-property: background, transform;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.doc-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;	
    background-color: black;
}

.doc-loader td 
{       
    text-align: center;
    vertical-align: middle;
}

.doc-loader img
{
    width: 90px;
    height: 90px;        
}

#fly-in {
  color: white;
  font-size: 4em;
  margin: 40vh auto;
  height: 20vh; 
  text-transform: uppercase;
}

#fly-in span {
  display: block;
  font-size: .4em;
  opacity: .8;
}

#fly-in div {
 position: fixed;
  margin: 2vh 0;
  opacity: 0;
  left: 10vw;
  width: 80vw;
  animation: switch 16s linear infinite;
}

#fly-in div:nth-child(1) { animation-delay: 2s}
#fly-in div:nth-child(2) { animation-delay: 4s}
#fly-in div:nth-child(3) { animation-delay: 6s}
#fly-in div:nth-child(4) { animation-delay: 8s}

@keyframes switch {
    0% { opacity: 0;filter: blur(20px); transform:scale(12)}
    3% { opacity: 1;filter: blur(0); transform:scale(1)}
    10% { opacity: 1;filter: blur(0); transform:scale(.9)}
    13% { opacity: 0;filter: blur(10px); transform:scale(.1)}
    80% { opacity: 0}
    100% { opacity: 0}
}

nav {
  position: fixed;
  z-index: 100;
  height: 8vh;
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.navBar {
  background-color: black;
}

.logo {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

nav .nav-links ul {
  display: flex;
  flex-direction: row;
}

nav .nav-links ul li {
  padding: 0 4px;
  list-style: none;
}

nav .nav-links ul li img {
  transform: scale(0.45);
}

#divColorbody {
  background-color: white;
}
#sectionone {
  background-color: black;
}

section {
  height: 100vh;
  overflow: hidden;
}

.bg img {
  width: 110vw;
  height: 110vh;
  filter: brightness(0.9);
}

.rock1 {
  position: absolute !important;
  left: 10vw !important;
  top: 20vh !important;
}

.rock1 img {
  width: 40%;
  filter: brightness(0.5);
}

.textHov h1 {
  font-family: "AlphaCentauri" !important;
  font-size: 5vw;
  color: #fff;
  letter-spacing: 20px;
  position: absolute;
  top: 60vh;
  left: 30vw;
}

.earth img {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 34vw;
  top: 25vh;
  z-index: -1;
  /* filter: brightness(0.7); */
}

.mid {
  left: 30% !important;
  top: -5% !important;
}

.mid img {
  filter: brightness(1.5);
  width: 100%;
  z-index: 2;
  top: 20vh !important;
}

.fore {
  right: -50px !important;
  bottom: -200px !important;
  top: 0px !important;
  left: unset !important;
}

.fore img {
  width: 400px;
  height: 110vh;
  z-index: 3;
  filter: brightness(0.5);
}

/* SWIPER */

#sectiontwo {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: black;
}

.rockbg1 {
  position: absolute;
  transform: scale(0.2);
  filter: brightness(0.2);
  top: 20vh;
  left: 0;
  z-index: 1;
}

.swiper-links {
  width: 95%;
  height: 5vh;
  color: #fff;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.swiper-links .swiper-pagination-bullet {
  opacity: 0.2;
  outline: none;
}
.swiper-links .swiper-pagination-bullet-active {
  color: #fff;
  opacity: 1;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: transparent;
}

.swiper-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px 0;
}

.swiper-wrapper {
  transition-delay: 0.5s;
}

.swiper-slide {
  height: 400px !important;
  width: 90% !important;
  background: transparent;
}

.swiper-slide:nth-child(1) .slide-img {
  background-image: url("../images/nihal-svg.svg");
}
.swiper-slide:nth-child(2) .slide-img {
  background-image: url("../images/meme-01.png");
}
.swiper-slide:nth-child(3) .slide-img {
  background-image: url("../images/meme-07.png");
}
.swiper-slide:nth-child(4) .slide-img {
  background-image: url("../images/meme-03.png");
}
.swiper-slide:nth-child(5) .slide-img {
  background-image: url("../images/meme-08.png");
}

.slide-img {
  background-position: "center";
  background-repeat: no-repeat !important;
  background-size: contain;
  width: 20%;
  height: 70%;
}

.slide-number {
  position: absolute;
  top: -30px;
  left: 30%;
  width: 500px;
  height: 120px;
  overflow: hidden;
  z-index: 10;
}

.slide-number p {
  font-size: 40px;
  font-family: "AlphaCentauri" !important;
  color: #fff;
  position: relative;
}

.slide-number p span {
  position: absolute;
}

.slide-detail {
  position: absolute;
  top: 130px;
  left: 30%;
  z-index: 10;
  width: 50%;
  height: 400px;
  overflow: hidden;
}

.slide-detail p {
  font-size: 14px;
  color: #fff;
  position: relative;
  opacity: 0.8;
  line-height: 30px;
}

.slide-detail p span {
  position: absolute;
}

.slide-detail-facts {
  position: absolute;
  top: 240px;
  left: 30%;
  z-index: 10;
  width: 50%;
  height: 400px;
  overflow: hidden;
  color: #fff;
}
.slide-detail-facts div {
  display: flex;
  position: relative;
}
.slide-detail-facts div h5 {
  margin-right: 20px;
}

.slide-text {
  position: absolute;
  top: -150px;
  left: 22%;
  z-index: 9;
  width: 200px;
  height: 400px;
  overflow: hidden;
  opacity: 0.1 !important;
}

.slide-text h4 {
  color: #fff;
  font-size: 100px;
  position: relative;
}
.slide-text h4 span {
  position: absolute;
}

.free-web {
  display: block;
  margin-top: 50px;
  font-family: monospace;
  width: 100%;
}

.edit_hover_class {
  width: 100%;
  height: auto;
}

.edit_hover_class a{
visibility:hidden;
}
.edit_hover_class:hover a {
  top: -30px;
  left: 200px;
  width: 200px;
  position: absolute;
  transform: rotate3d(0, 0, 1, 15deg); visibility:visible;
}